.ngx-notification-wrapper {
    position: fixed;
    width: 300px;
    z-index: 1000;
}

.ngx-notification-wrapper.left {
    left: 20px;
}

.ngx-notification-wrapper.top {
    top: 20px;
}

.ngx-notification-wrapper.right {
    right: 20px;
}

.ngx-notification-wrapper.bottom {
    bottom: 20px;
}

.ngx-notification-wrapper.center {
    left: 50%;
    transform: translateX(-50%);
}

.ngx-notification-wrapper.middle {
    top: 50%;
    transform: translateY(-50%);
}

.ngx-notification-wrapper.middle.center {
    transform: translate(-50%, -50%);
}

@media (max-width: 340px) {
    .ngx-notification-wrapper {
        width: auto;
        left: 20px;
        right: 20px;
    }
}