.ngx-notification {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    min-height: 70px;
}

.ngx-notification .sn-title,
.ngx-notification .sn-content,
.ngx-notification .sn-html {
    margin: 0;
}

.ngx-notification .sn-title {
    line-height: 30px;
    font-size: 20px;
}

.ngx-notification .sn-content {
    font-size: 16px;
    line-height: 20px;
}

.ngx-notification.has-icon .sn-title,
.ngx-notification.has-icon .sn-content,
.ngx-notification.has-icon .sn-html {
    padding: 0 50px 0 0;
}

.ngx-notification .icon {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.ngx-notification .icon.icon-hover:hover {
    opacity: 0.5;
}

.ngx-notification .icon svg {
    fill: #fff;
    width: 100%;
    height: 100%;
}

.ngx-notification .icon svg g {
    fill: #fff;
}

.ngx-notification.rtl-mode.has-icon .sn-title,
.ngx-notification.rtl-mode.has-icon .sn-content,
.ngx-notification.rtl-mode.has-icon .sn-html {
    padding: 0 0 0 50px;
}

.ngx-notification.rtl-mode {
    direction: rtl;
}

.ngx-notification.rtl-mode .sn-content {
    padding: 0 0 0 50px;
}

.ngx-notification.rtl-mode svg {
    left: 0;
    right: auto;
}

.ngx-notification.error { background: #F44336; }
.ngx-notification.success { background: #8BC34A; }
.ngx-notification.alert { background: #ffdb5b; }
.ngx-notification.info { background: #03A9F4; }
.ngx-notification.warn { background: #ffdb5b; }

.ngx-notification .sn-progress-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

.ngx-notification .sn-progress-loader span {
    float: left;
    height: 100%;
}

.ngx-notification.success .sn-progress-loader span { background: #689F38; }
.ngx-notification.error .sn-progress-loader span { background: #D32F2F; }
.ngx-notification.alert .sn-progress-loader span { background: #edc242; }
.ngx-notification.info .sn-progress-loader span { background: #0288D1; }
.ngx-notification.warn .sn-progress-loader span { background: #edc242; }
.ngx-notification.bare .sn-progress-loader span { background: #ccc; }

.ngx-notification.warn div .sn-title,
.ngx-notification.warn div .sn-content,
.ngx-notification.warn div .sn-html { color: #444; }